@tailwind base;
@tailwind components;
@tailwind utilities;



.banner {
    background-image: url('https://i.ibb.co/GRqZLy4/banner-2.jpg');
}

.footer_bg {
    background-image: url('https://i.ibb.co/Br3RZD7/footer.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}